*{
	box-sizing border-box
	margin 0
	padding 0 
}
color= #F6F5F7
.block{
	background: color;
		display: flex;
flex-direction: row;
}
.main{
	display: flex;
	flex-direction: row;
	width:100%;
			
			
}
.parent-of-sidebar{
	display: flex;
	padding-top: 44px;
	padding-left: 48px;
	width:220px;
	flex-shrink: 0;	

	
}
.sidebar{
	display: flex;
	flex-shrink: 0;
	flex-direction:column;
	
	
}
		.sidebar__titles{
			
		&__title{
			margin-left 0
			font-family Open Sans
			font-style  normal
			font-weight bold
		}
		&__title—mini{
			margin-bottom 20px
			margin-top 13px
			font-family Open Sans
			font-style  normal
			font-weight 600
			font-size   12px
			line-height 22px
		}
		}
	   .sidebar__nav{
	   		
		&-block{
			display:flex;
			flex-direction:row;
			margin-bottom:20px;
		}
		&-image{
			margin-right 16px;
			}
			&-text{
			font-family Open Sans
			font-style  normal
			font-weight 600
			font-size   16px
			line-height 24px
			}
	}
	
.parent-of-content{
	display:flex;
		flex-shrink:0;
		padding-top:32px;
		justify-content:center;
			width: 100%;
		
}
.content{

	flex-shrink:0;
	flex-direction: column;
}
	.content__titles{ 
	display:flex;
	flex-direction:row;
		&-bold{
flex-direction:row;
font-family Open Sans;
font-style  normal;
font-weight bold;
font-size   20px;

line-height 32px;
letter-spacing 0.2px;

color: rgba(0, 0, 0, 0.9);

	}
		&-normal{
		margin-left:5px;
font-family Open Sans;
font-style  normal;
font-weight bold;
font-size   20px;
line-height 32px;
letter-spacing 0.2px;
font-weight:normal;
	}
}

	.content__boxes{
	}
		
		.box{
			margin-top:24px;
			width: 656px;
			height: 192px;
				background: #FFFFFF;
			box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1), 0px 2px 9px rgba(0, 0, 0, 0.06);
			border-radius: 4px;
		
		}
		.first-wrap{
			display:flex;
			flex-direction:row;
			width:100%
			height 100%
		}
		.wrap-text{
			width:60%;
			padding-top:24px;
			padding-left:24px;
			
		}
		.firstblock-text{
			padding-right 0
			
			padding-bottom 31px;
			font-family: Open Sans;
			font-style: normal;
			font-weight: 600;
			font-size: 16px;
			line-height: 24px;
			letter-spacing: 0.2px;

		}
		.gif-block{
			margin-bottom:34px;
			flex-direction:row;
		}
		.gif-image{
			margin-right:12px;
		}
		.gif-image-gif{
				margin-bottom:4px;
			}
			.wrap-button{
				display:flex;
				width:100%;
				height:100%;
				align-items:flex-end;
					justify-content:flex-end;
			}
		.but{
			border: none;
			margin-right:24px;
			margin-bottom:24px;
			height:40px;
			width:90px;
			background: #FAA120;
			border-radius: 4px;
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
text-align: center;
letter-spacing: 0.2px;
color: #FFFFFF;
outline:none;

		}
		.but:hover {background-color: #FAA757}
				.but:active {
  background-color: #FAA887;
  box-shadow:  5px #FAA787;
outline none
}

		.box-bigger{
			width: 656px;
			height: 216px;
			margin-top:24px;
				background: #FFFFFF;
			box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1), 0px 2px 9px rgba(0, 0, 0, 0.06);
			border-radius: 4px;
		}
		
		.second-wrap-of-box{
		display:flex;
flex-direction:row;

		}
		.parent-of-2ndtext{
			width:700px;
		}
		.profiletitle{
				padding-top:10px;
				margin-left:8px;
			&-image-circle{
				border-radius: 100%
			}
			&-name{
				font-family: Open Sans;
				font-style: normal;
				font-weight: 600;
				font-size: 16px;
				line-height: 24px;
				letter-spacing: 0.2px;
			}
		}
		.wrap-of-text{
		
				padding-top:15px;
				padding-left:24px;
				padding-bottom:24px;
		}
		.second-block-text{
				font-size: 16px;
				line-height: 24px;
				font-style: normal;
				font-family: Open Sans;
				color: rgba(0, 0, 0, 0.9)
			&-1st{
				font-weight: 600;	
				
				&-link{
					text-decoration none
					color:#03AFFF;
				}
				
			}
			&-2nd{
				font-weight:normal;

					padding-top:8px;
			}
			&-3rd{
				font-weight:normal;
					padding-top:12px;
				&-link{
					text-decoration none
					color: #FAA120;
				}
			}

		}
			
		.box-biggest{
			margin-top:24px;
			height: 556px;
			left: 471px;
			background: #FFFFFF;
			box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1), 0px 2px 9px rgba(0, 0, 0, 0.06);
			border-radius: 4px;
			width:656px;
		}
	.wrap-third-block{
		display:flex;
		flex-direction:column;
	}
	.third-content{
		display:flex;
		flex-direction:row;
		flex-wrap:nowrap;
	}
.thirdbox-title{
	display:flex;
	flex-direction:row;
	padding-left: 19px;
	width:400px;
	margin-right:0px;
}
.third-title{
	margin-top:36px;
	margin-left:4px;
}
.third-image{
	margin-top:28px;
}
.third-title{
font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.2px;
color: rgba(0, 0, 0, 0.9);
}
.third-text{
	margin-top:19px;
	padding-left:24px;
	width:100%;
	&-style{
		font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.2px;
color: rgba(0, 0, 0, 0.9);
	}
	&-link{
		text-decoration: none;
		color:#03AFFF;
	}
}
 .man-image{
 	margin-top:24px;
 }
.parent-of-options-and-conditions{
				display: flex;
				justify-content:flex-end;
				width:100%;
				height 60px
}
.condition{
	margin-top:17px;
	margin-right:20px;
	font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 22px;
text-align: right;
letter-spacing: 0.4px;
color: rgba(0, 0, 0, 0.32);
}
.option{
	margin-right:20px;
	margin-top:26px;
	width:16px;
	height:4px;
}